In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import math
import seaborn as sns

In [29]:
data = pd.DataFrame([['홍길동',99,'1992/02/02'],['홍길동2',88,'1993/03/03']],['indexnum1','indexnum2'],columns=['이름','성적','생일'])
data

             이름  성적          생일
indexnum1   홍길동  99  1992/02/02
indexnum2  홍길동2  88  1993/03/03

In [ ]:
from sklearn.datasets import load_iris
iris = load_iris